{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Add Product</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ product_form.as_p }}
            <div class="form-group">
                <label for="images">Images</label>
                <input type="file" name="images" class="form-control-file" multiple>
            </div>
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
    </div>
{% endblock %}
